.all-products-wrapper {
    width: 70%;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 30px;
}
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0.125rem 0px, rgba(0, 0, 0, 0.12) 0px 0.125rem 0.125rem 0px;
    text-align: start;
    position: relative;
    gap: 10px;
    overflow-y:hidden;
    min-width: 150px;
    min-height: 200px;
}

.product-card img {
    max-height: 120px;
    align-self: center;
}
.product-card label {
    background-color: red;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    padding: 1.5px 3px;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.product-card label svg {
    height: 14px;
}
.product-card button {
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(0, 157, 224);
    background-color: rgba(0, 157, 224, 0.08);
    padding: 10px;
    border-bottom-left-radius: 50%;
}

.product-card h6 {
    color: red;
}

.product-card p {
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  height: 3.6em;
  line-height: 1.8em;
}