header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 0;
  }

  #wolt-logo {
    width: 7.5rem;
    height: 3rem;
  }

  .header-left {
    display: flex;
    align-items: center;
  }

  .location {
    display: flex;
    gap: 10px;
    align-items: center;
    color: rgb(0, 157, 224);
  }

  .location:hover {
    cursor: pointer;
  }

  .location a {
    text-decoration: none;
    color: rgb(0, 157, 224);
  }

  .search {
    display: flex;
    align-items: center;
    background-color: #2021251F;
    border-radius: 20px;
    padding: 10px;
  }

  .search input {
    background-color: transparent;
    border: none;
    outline: none;
  }

  .header-right{
    display: flex;
    gap: 10px;
  }

  .login-btn, .signup-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  .login-btn {
    background-color: white;
    color: black;
  }
  .signup-btn {
    background-color: rgb(0, 157, 224, 0.15);
    color: rgb(0, 157, 224);
    font-weight: 700;
  }


