:root {
    --background-salam_bro: url(http://surl.li/pzzkp);
    --background-white: white;
    --background-yellow: #FFC244FF;
    --background-green: #00A082FF;
}

/* HEADER-TOP */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--background-salam_bro) bottom / cover no-repeat;
    backdrop-filter: blur(30px);
    height: 400px;
    background-color: var(--background-white);
}

.backgroud_img {
    width: 100%;
    filter: blur(30px);
}

.glovo_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px;
}

.header_right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.logo img {
    max-width: 100px;
}

.logo p {
    display: flex;
    gap: 20px;
}

.header_right button {
    border: none;
    border-radius: 55px;
    padding: 10px 15px;
    color: var(--background-white);
    font-size: 20px;
    font-weight: 900;
    background-color: var(--background-green);
}

.location {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    font-weight: 600;
    color: var(--background-white);
}

/* HEADER-TOP */

/* HEADER-MAIN */
#glovo_header_main {
    position: relative;
    top: 35px;
    left: 70px;
    display: flex;
    flex-direction: column;
    row-gap: -80px;
    width: 70%;
    height: 370px;
    filter: drop-shadow(1px 1px 15px hsl(0, 0%, 80%));
    background: white;
    border-radius: 20px 100px 20px 20px;
}

#glovo_header_main h1 {
    position: absolute;
    top: 40px;
    left: 50px;
}

.salam_bro_icon img {
    position: absolute;
    top: -30px;
    left: 50px;
    width: 110px;
    height: 110px;
    border-radius: 20px;
    border: 1px solid white;
    object-fit: cover;
}

.sale_item {
    position: absolute;
    top: 180px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    width: 180px;
    height: 20px;
    padding: 5px;
    margin-left: 50px;
    border-radius: 4px;
    background-color: var(--background-yellow);
}

/* HEADER-MAIN */


/* DECRIPTION */
.description_container {
    position: absolute;
    top: 60px;
    display: flex;
    gap: 10px;
}

.description_case {
    display: flex;
    align-items: center;
    width: 150px;
    gap: 10px;
}

.description_case img {
    width: 50px;
    height: 50px;
}

/* DECRIPTION */

/* ORDER_LIST */
.order_list {
    position: relative;
    top: -335px;
    left: 75%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 22%;
    height: 720px;
    background-color: var(--background-white);
    border-radius: 20px;
    filter: drop-shadow(1px 1px 15px hsl(0, 0%, 80%));
}

.order_list h1 {
    margin-top: 70px;
    font-size: 45px;
}

#order_list_text {
    font-size: 30px;
    width: 85%;
    padding-bottom: 15px;
}

#order_list_br {
    border-bottom: 5px solid hsl(208, 95%, 92%);
    width: 100%;
}

.order_list_bottom {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
}
/* ORDER_LIST */

/* SEARCH */
.search_salam_bro {
    position: relative;
    top: -650px;
    left: 400px;
}

.search_salam_bro input {
    border: none;
    outline: none;
    border-radius: 50px;
    box-shadow: 1px 1px 10px hsl(0, 0%, 70%);
    background-color: hsl(0, 0%, 95%);
    padding: 15px;
    font-size: 20px;
    width: 1280px;
    height: 70px;
}
/* SEARCH */