* {
  box-sizing: border-box;
}

.container {
  position: relative;
}
.images-container {
  display: flex;
  width: 100%;
  overflow: auto;
  gap: 20px;
}

.images-container::-webkit-scrollbar {
  display: none;
}

.mySlides {
  flex-shrink: 0;
  width: 45%;
  border-radius: 20px;
  overflow: hidden;
}

.mySlides img {
  width: 100%;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  color: rgb(34, 143, 85);
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev {
  left: 5%;
}

.next {
  right: 5%;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
